stdbg.sln
social_tec_login_engine.sql
socialtec_main_database_web (6).sql
stdbg.rar
stdbg.zip
stdbg1.zip
stdbg[ESSE TRAMPO TA FODA].zip
stdbg/Untitled-1.html
stdbg/stresources/assets/emojis/js/Novo Documento de Texto.html
